body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: #3197bc !important;
}
.bg-dark {
  background-color: #3197bc !important;
}

.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
#map {
  height: 450px;
}
@media (min-width: 768px) {
  .card-img-top {
    height: 35vh;
  }
  #map {
    height: 100%;
  }
}
